<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BeautyBliss</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section class="navBar">
            <div class="navBar-logo">
                <img src="" alt="BeautyBliss Logo">
            </div>
            <div class="navBar-Button">
                <a href="" class="home">Home</a>
                <a href="" class="about">About</a>
                <a href="" class="products">Products</a>
                <a href="" class="contact">Contact Us</a>
                <img src="" alt="Cart Logo" id="cart"></img>
                <button id="login">Login</button>
                <button id="signUp">Sign Up</button>
                <img src="" alt="Account Logo" id="account"></img>
            </div>
        </section>
        <script src="script.js"></script>
    </body>
</html>